
/* ::::: https://people.com-offers.today/lp1/images/bootstrap-theme.css ::::: */

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger { text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075); }
.btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active { box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn:active, .btn.active { background-image: none; }
.btn-success { background-image: linear-gradient(to bottom, rgb(92, 184, 92) 0%, rgb(65, 150, 65) 100%); background-repeat: repeat-x; border-color: rgb(62, 143, 62); }
.btn-success:hover, .btn-success:focus { background-color: rgb(65, 150, 65); background-position: 0px -15px; }
.btn-success:active, .btn-success.active { background-color: rgb(65, 150, 65); border-color: rgb(62, 143, 62); }
.navbar-default { background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 100%); background-repeat: repeat-x; border-radius: 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075); }
.navbar-brand, .navbar-nav > li > a { text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25); }
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus { color: rgb(255, 255, 255); background-image: linear-gradient(to bottom, rgb(51, 122, 183) 0%, rgb(46, 109, 164) 100%); background-repeat: repeat-x; }
}

/* ::::: https://people.com-offers.today/lp1/images/style.css ::::: */

@font-face {
  font-family: "Tahoma";  src: local("Tahoma"), local("Tahoma"), url('tahoma.ttf.html') format("truetype");}
@font-face {
  font-family: "Franklin-Gothic-Condensed";  src: local("Franklin Gothic Extra Condensed"), local("Franklin Gothic Extra Condensed"), url('franklin-gothic-condensed.ttf.html') format("truetype");}
body { overflow-x: hidden; margin-top: 0px; }
a { cursor: pointer; transition: all 0.5s ease-in-out 0s; }
a:hover, a:focus { outline: medium none; text-decoration: none; }
.m-t-25 { margin-top: 25px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-b-8 { margin-bottom: 8px !important; }
.m-b-5 { margin-bottom: 5px !important; }
.p-l-0 { padding-left: 0px !important; }
.p-b-0 { padding-bottom: 0px !important; }
.p-r-5 { padding-right: 5px !important; }
.p-l-5 { padding-left: 5px !important; }
.timer { position: fixed; width: 100%; background: rgb(6, 149, 184) none repeat scroll 0% 0%; bottom: 0px; padding: 4px 0px; }
.timer p { font-family: Opensans-Regular; margin: 0px; color: rgb(255, 255, 255); }
.timer .btn { font-family: Opensans-Regular; margin-top: 3px; }
.no-border-top { border-top: medium none !important; }
@media only screen and (max-width: 767px) {
  .p-l-15-mobile { padding-left: 15px !important; }
}
.navbar { margin-bottom: 0px; }
.navbar-default { border-radius: 0px; border: medium none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.navbar-brand { padding: 2px 10px; }
.navbar-brand img { width: 150%; max-width: 150px; }
.navbar-nav { float: left; }
.navbar-nav > li { text-align: center; }
.navbar-default .navbar-nav > li > a { font-family: Arial; text-shadow: none; color: rgb(51, 51, 51); font-size: 13px; font-weight: bold; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { text-shadow: 0px 2px 2px rgb(119, 119, 119); color: rgb(255, 255, 255); }
@media only screen and (max-width: 767px) {
  .navbar-nav { display: block; width: auto; float: none; }
  .navbar-nav > li { display: block; }
  .navbar-default .navbar-toggle { border-color: rgb(0, 0, 0); background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 0); float: right; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); }
  .navbar-header { text-align: center; }
  .navbar-brand { padding: 5px 10px; margin: 0px auto; display: block; float: left; width: 120px; }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-nav > li > a { font-size: 16px; padding: 15px 8px; }
}
.content-box { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.content h1 { font-family: OpenSans-Bold; margin: 20px 0px 16px; color: rgb(34, 34, 34); font-size: 34px; line-height: 40px; }
.content .img-responsive { margin: 0px auto 5px; }
.content p { font-family: Arial; margin: 0px 0px 20px; line-height: 26px; font-size: 17px; color: rgb(34, 34, 34); }
.content p.small-text { font-size: 15px; padding: 15px 5px; border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); line-height: 23px; }
.content p.pink-text { color: rgb(1, 152, 189); }
.content p.update { border: 1px dotted rgb(0, 0, 0); background: rgb(239, 255, 247) none repeat scroll 0% 0%; padding: 4px 9px; }
.content p.update .red-text { color: rgb(255, 0, 0); }
.content h5 { font-family: OpenSans-Regular; color: rgb(34, 34, 34); margin: 8px 0px 20px; font-size: 21px; line-height: 28px; }
.content h5.pink-border-bottom { color: rgb(102, 102, 102); border-bottom: 2px solid rgb(1, 152, 189); margin-bottom: 15px; }
.content h4 { font-family: OpenSans-Bold; font-size: 21px; line-height: 28px; color: rgb(34, 34, 34); margin: 0px 0px 20px; }
.content p a { color: rgb(1, 152, 189); }
.content p a:hover, .content p a:focus { color: rgb(1, 152, 189); }
.content h3 { font-family: OpenSans-Bold; color: rgb(34, 34, 34); margin: 26px 0px; font-size: 26px; }
.content .top-bottom-border { width: 100%; height: 13px; background: transparent none repeat scroll 0% 0%; border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); margin: 50px 0px; }
.grey-box { padding-top: 15px; background: rgb(204, 204, 204) none repeat scroll 0% 0%; margin: 0px 0px 20px; }
.content .grey-box h4 { margin-top: 5px; }
.grey-box .box-inner { margin-bottom: 20px; }
.content .revival-box { margin-left: 0px; margin-right: 0px; border: 1px solid rgb(204, 204, 204); padding-top: 20px; padding-bottom: 10px; margin-bottom: 15px; }
.content .revival-box2 { margin-left: 0px; margin-right: 0px; border: 1px solid rgb(204, 204, 204); background: rgb(245, 249, 250) none repeat scroll 0% 0%; padding: 10px; margin-bottom: 15px; }
.content .revival-box .button { margin-left: 0px; margin-right: 0px; margin-bottom: 20px; }
@media only screen and (max-width: 767px) {
  .content .grey-box .img-responsive { margin-bottom: 15px; }
  .content .revival-text { text-align: center; }
  .content .revival-box .rev { margin-bottom: 15px; }
  .content .revival-box .button { margin: 0px auto 20px; }
  .content h1 { font-size: 30px; }
}
.comments { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-bottom: 30px; }
.recent { margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 20px; }
.recent p, .recent a { font-family: Tahoma; font-size: 14px; margin: 0px; line-height: 18px; color: rgb(59, 89, 152); }
.recent p { font-weight: bold; }
.media { margin: 0px; padding: 8px 0px; border-top: 1px solid rgb(226, 226, 226); }
.media.border-bottom { border-bottom: 1px solid rgb(226, 226, 226); }
.media-left img { margin-top: 6px; }
.media-body h4 a { font-family: Tahoma; font-size: 13px; color: rgb(59, 89, 152); margin: 0px 0px 5px; line-height: 14px; font-weight: bold; }
.media-body h4 a:hover, .media-body h4 a:focus { color: rgb(59, 89, 152); }
.media-body p { font-family: Tahoma; font-size: 12px; color: rgb(26, 26, 26); line-height: 15px; margin: 0px 0px 5px; }
.media-body p.bottom { color: rgb(59, 89, 152); }
.media-body p.bottom .like { margin-left: 8px; }
.media-body p.bottom .time { color: rgb(128, 128, 128); border-bottom: 1px dotted rgb(128, 128, 128); }
.comments p.small { font-family: Tahoma; font-size: 11px; color: rgb(59, 89, 152); margin: 10px 0px; }
.footer { width: 100%; height: 30px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
div.warning { color: rgb(67, 67, 67); font-family: OpenSans-Bold; padding: 22px 12px 0px; text-align: center; }
/* ::::: https://people.com-offers.today/lp1/images/jquery.glue.css ::::: */

.glue_popup { height: 600px; width: 700px; box-shadow: 0px 0px 7px rgb(74, 74, 74); background: rgb(242, 242, 242) none repeat scroll 0% 0%; animation: 0.4s ease 0s normal none 1 running zoomin; border-radius: 5px; }
.glue_content { padding: 20px; }
.glue_close { cursor: pointer; position: relative; top: 0px; left: 0px; float: right; font-family: Arial; font-size: 17px; background-color: rgb(223, 223, 223); color: rgb(76, 76, 76); padding: 5px 10px; text-decoration: none; box-shadow: 0px 0px 3px rgb(77, 77, 77); border-radius: 0px 5px; }
.glue_popup { height: 620px; width: 870px; }
* { padding: 0px; margin: 0px; }
.glue_content { text-align: center; }
#beforeyougo { border-radius: 20px; }
.glue_content { padding: 0px; height: 100%; border-radius: 20px; }
.glue_box_left { float: left; width: 30%; border-top-left-radius: 20px; height: 100%; border-bottom-left-radius: 20px; padding: 60px 10px 50px; background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(212, 74, 92) 0%, rgb(186, 39, 55) 64%, rgb(186, 39, 55) 100%) repeat scroll 0% 0%; }
.glue_box_right { width: 70%; float: left; }
.glue_content h3 { font-size: 20px; color: rgb(255, 255, 255); margin-top: 60px; line-height: 35px; }
.glue_content h3 span { font-size: 35px; color: rgb(255, 255, 255); font-weight: bold; display: block; }
h2.beforeyou { font-size: 50px; color: rgb(186, 39, 55); font-weight: bold; font-family: verdana,helvetica,serif; letter-spacing: -2px; }
.glue_content p { font-size: 18px; color: rgb(119, 119, 119); font-weight: 600; padding: 20px 45px; }
.product { overflow: hidden; }
.product ul { list-style: outside none none; padding: 0px; margin-top: 0px; }
.product ul li { list-style: outside none none; display: inline-table; border-radius: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.product ul li img { max-width: 95%; }
