@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CRoboto:400,700');
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary{display:block;}
audio,
canvas,
video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,
button,
input,
select,
textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,
pre{margin:1em 0;}
code,
kbd,
pre,
samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,
q:after{content:'';content:none;}
small{font-size:75%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,
menu,
ol,
ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,
ol,
ul{padding:0 0 0 40px;}
nav ul,
nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,
input,
select,
textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,
input{line-height:normal;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],
input[disabled]{cursor:default;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
p{-webkit-hyphens:auto;-epub-hyphens:auto;-moz-hyphens:auto;hyphens:auto;}
b, strong, .strong{font-weight:700;}
dfn, em, .em{font-style:italic;}
small, .small{font-size:75%;}
ul, ol{padding:0;list-style-type:none;}
dd{margin:0;}
.sidebar ul,
.sidebar ol,
.commentlist{list-style:none;}
.container{margin-right:auto;margin-left:auto;padding-left:10px;padding-right:10px;max-width:1200px;}
.row{margin-left:-10px;margin-right:-10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:10px;padding-right:10px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left;}
.col-xs-12{width:100%;}
.col-xs-11{width:91.66666667%;}
.col-xs-10{width:83.33333333%;}
.col-xs-9{width:75%;}
.col-xs-8{width:66.66666667%;}
.col-xs-7{width:58.33333333%;}
.col-xs-6{width:50%;}
.col-xs-5{width:41.66666667%;}
.col-xs-4{width:33.33333333%;}
.col-xs-3{width:25%;}
.col-xs-2{width:16.66666667%;}
.col-xs-1{width:8.33333333%;}
.col-xs-pull-12{right:100%;}
.col-xs-pull-11{right:91.66666667%;}
.col-xs-pull-10{right:83.33333333%;}
.col-xs-pull-9{right:75%;}
.col-xs-pull-8{right:66.66666667%;}
.col-xs-pull-7{right:58.33333333%;}
.col-xs-pull-6{right:50%;}
.col-xs-pull-5{right:41.66666667%;}
.col-xs-pull-4{right:33.33333333%;}
.col-xs-pull-3{right:25%;}
.col-xs-pull-2{right:16.66666667%;}
.col-xs-pull-1{right:8.33333333%;}
.col-xs-pull-0{right:0%;}
.col-xs-push-12{left:100%;}
.col-xs-push-11{left:91.66666667%;}
.col-xs-push-10{left:83.33333333%;}
.col-xs-push-9{left:75%;}
.col-xs-push-8{left:66.66666667%;}
.col-xs-push-7{left:58.33333333%;}
.col-xs-push-6{left:50%;}
.col-xs-push-5{left:41.66666667%;}
.col-xs-push-4{left:33.33333333%;}
.col-xs-push-3{left:25%;}
.col-xs-push-2{left:16.66666667%;}
.col-xs-push-1{left:8.33333333%;}
.col-xs-push-0{left:0%;}
.col-xs-offset-12{margin-left:100%;}
.col-xs-offset-11{margin-left:91.66666667%;}
.col-xs-offset-10{margin-left:83.33333333%;}
.col-xs-offset-9{margin-left:75%;}
.col-xs-offset-8{margin-left:66.66666667%;}
.col-xs-offset-7{margin-left:58.33333333%;}
.col-xs-offset-6{margin-left:50%;}
.col-xs-offset-5{margin-left:41.66666667%;}
.col-xs-offset-4{margin-left:33.33333333%;}
.col-xs-offset-3{margin-left:25%;}
.col-xs-offset-2{margin-left:16.66666667%;}
.col-xs-offset-1{margin-left:8.33333333%;}
.col-xs-offset-0{margin-left:0%;}
@media (min-width:660px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left;}
.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.col-sm-pull-12{right:100%;}
.col-sm-pull-11{right:91.66666667%;}
.col-sm-pull-10{right:83.33333333%;}
.col-sm-pull-9{right:75%;}
.col-sm-pull-8{right:66.66666667%;}
.col-sm-pull-7{right:58.33333333%;}
.col-sm-pull-6{right:50%;}
.col-sm-pull-5{right:41.66666667%;}
.col-sm-pull-4{right:33.33333333%;}
.col-sm-pull-3{right:25%;}
.col-sm-pull-2{right:16.66666667%;}
.col-sm-pull-1{right:8.33333333%;}
.col-sm-pull-0{right:0%;}
.col-sm-push-12{left:100%;}
.col-sm-push-11{left:91.66666667%;}
.col-sm-push-10{left:83.33333333%;}
.col-sm-push-9{left:75%;}
.col-sm-push-8{left:66.66666667%;}
.col-sm-push-7{left:58.33333333%;}
.col-sm-push-6{left:50%;}
.col-sm-push-5{left:41.66666667%;}
.col-sm-push-4{left:33.33333333%;}
.col-sm-push-3{left:25%;}
.col-sm-push-2{left:16.66666667%;}
.col-sm-push-1{left:8.33333333%;}
.col-sm-push-0{left:0%;}
.col-sm-offset-12{margin-left:100%;}
.col-sm-offset-11{margin-left:91.66666667%;}
.col-sm-offset-10{margin-left:83.33333333%;}
.col-sm-offset-9{margin-left:75%;}
.col-sm-offset-8{margin-left:66.66666667%;}
.col-sm-offset-7{margin-left:58.33333333%;}
.col-sm-offset-6{margin-left:50%;}
.col-sm-offset-5{margin-left:41.66666667%;}
.col-sm-offset-4{margin-left:33.33333333%;}
.col-sm-offset-3{margin-left:25%;}
.col-sm-offset-2{margin-left:16.66666667%;}
.col-sm-offset-1{margin-left:8.33333333%;}
.col-sm-offset-0{margin-left:0%;}
}
@media (min-width:980px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left;}
.col-md-12{width:100%;}
.col-md-11{width:91.66666667%;}
.col-md-10{width:83.33333333%;}
.col-md-9{width:75%;}
.col-md-8{width:66.66666667%;}
.col-md-7{width:58.33333333%;}
.col-md-6{width:50%;}
.col-md-5{width:41.66666667%;}
.col-md-4{width:33.33333333%;}
.col-md-3{width:25%;}
.col-md-2{width:16.66666667%;}
.col-md-1{width:8.33333333%;}
.col-md-pull-12{right:100%;}
.col-md-pull-11{right:91.66666667%;}
.col-md-pull-10{right:83.33333333%;}
.col-md-pull-9{right:75%;}
.col-md-pull-8{right:66.66666667%;}
.col-md-pull-7{right:58.33333333%;}
.col-md-pull-6{right:50%;}
.col-md-pull-5{right:41.66666667%;}
.col-md-pull-4{right:33.33333333%;}
.col-md-pull-3{right:25%;}
.col-md-pull-2{right:16.66666667%;}
.col-md-pull-1{right:8.33333333%;}
.col-md-pull-0{right:0%;}
.col-md-push-12{left:100%;}
.col-md-push-11{left:91.66666667%;}
.col-md-push-10{left:83.33333333%;}
.col-md-push-9{left:75%;}
.col-md-push-8{left:66.66666667%;}
.col-md-push-7{left:58.33333333%;}
.col-md-push-6{left:50%;}
.col-md-push-5{left:41.66666667%;}
.col-md-push-4{left:33.33333333%;}
.col-md-push-3{left:25%;}
.col-md-push-2{left:16.66666667%;}
.col-md-push-1{left:8.33333333%;}
.col-md-push-0{left:0%;}
.col-md-offset-12{margin-left:100%;}
.col-md-offset-11{margin-left:91.66666667%;}
.col-md-offset-10{margin-left:83.33333333%;}
.col-md-offset-9{margin-left:75%;}
.col-md-offset-8{margin-left:66.66666667%;}
.col-md-offset-7{margin-left:58.33333333%;}
.col-md-offset-6{margin-left:50%;}
.col-md-offset-5{margin-left:41.66666667%;}
.col-md-offset-4{margin-left:33.33333333%;}
.col-md-offset-3{margin-left:25%;}
.col-md-offset-2{margin-left:16.66666667%;}
.col-md-offset-1{margin-left:8.33333333%;}
.col-md-offset-0{margin-left:0%;}
}
@-ms-viewport{width:device-width;}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{display:none !important;}
@media (max-width:767px){.visible-xs{display:block !important;}
table.visible-xs{display:table;}
tr.visible-xs{display:table-row !important;}
th.visible-xs,
td.visible-xs{display:table-cell !important;}
}
@media (min-width:768px) and (max-width:979px){.visible-sm{display:block !important;}
table.visible-sm{display:table;}
tr.visible-sm{display:table-row !important;}
th.visible-sm,
td.visible-sm{display:table-cell !important;}
}
@media (min-width:981px) and (max-width:1199px){.visible-md{display:block !important;}
table.visible-md{display:table;}
tr.visible-md{display:table-row !important;}
th.visible-md,
td.visible-md{display:table-cell !important;}
}
@media (min-width:1200px){.visible-lg{display:block !important;}
table.visible-lg{display:table;}
tr.visible-lg{display:table-row !important;}
th.visible-lg,
td.visible-lg{display:table-cell !important;}
}
@media (max-width:767px){.hidden-xs{display:none !important;}
}
@media (min-width:768px) and (max-width:979px){.hidden-sm{display:none !important;}
}
@media (min-width:980px) and (max-width:1199px){.hidden-md{display:none !important;}
}
@media (min-width:1200px){.hidden-lg{display:none !important;}
}
.visible-print{display:none !important;}
@media print{.visible-print{display:block !important;}
table.visible-print{display:table;}
tr.visible-print{display:table-row !important;}
th.visible-print,
td.visible-print{display:table-cell !important;}
}
@media print{.hidden-print{display:none !important;}
}
.clearfix{zoom:1;}
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.image-replacement{text-indent:100%;white-space:nowrap;overflow:hidden;}
span.amp{font-family:Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;font-style:italic;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.alert-help, .alert-info, .alert-error, .alert-success{margin:10px;padding:5px 18px;border:1px solid;}
.alert-help{border-color:#e8dc59;background:#ebe16f;}
.alert-info{border-color:#bfe4f4;background:#d5edf8;}
.alert-error{border-color:#f8cdce;background:#fbe3e4;}
.alert-success{border-color:#deeaae;background:#e6efc2;}
.flux4Widget{font-size:100%;}
.sub-footer{width:100%;background-color:#ccc;clear:both;text-align:center;font-family: 'Open Sans', sans-serif;font-weight:700;font-size:2em;text-transform:lowercase;padding-top:4px;}
.sub-footer span.icon-logo-mtv{font-color:#FFFFFF;padding:5px;margin-top:10px;display:inline;vertical-align:middle;}
.sub-footer .flux4Widget .follow .siteFollowView .followedObject i:before, .sub-footer .flux4Widget .follow .siteFollowView .followedObject h2.secondaryHeadline, .sub-footer .flux4Widget .follow .siteFollowView .followedObject span.counter{color:#ffffff;padding-left:2px;font-size:1.5rem;}
.sub-footer .flux4Widget .follow .siteFollowView .followedObject .arrow{border-top-color:#1a1a1a;}
.sub-footer .flux4Widget .follow .siteFollowView .expandableMenu.expanded .followedObject .arrow{border-bottom-color:#ffffff;}
aside .flux4Widget .follow .siteFollowView .expandableMenu .followedObject .secondaryHeadline, aside .flux4Widget .follow .siteFollowView .expandableMenu .followedObject .counter, #main .flux4Widget .follow .siteFollowView .expandableMenu .followedObject .secondaryHeadline, #main .flux4Widget .follow .siteFollowView .expandableMenu .followedObject .counter{color:#1a1a1a;}
aside .flux4Widget .follow .siteFollowView .expandableMenu .followedObject .arrow, #main .flux4Widget .follow .siteFollowView .expandableMenu .followedObject .arrow{display:none !important;}
aside .flux4Widget .follow .siteFollowView .expandableMenu .followServices, #main .flux4Widget .follow .siteFollowView .expandableMenu .followServices{width:300px;padding-top:24px;}
aside .flux4Widget .follow .siteFollowView .expandableMenu h2, #main .flux4Widget .follow .siteFollowView .expandableMenu h2{font-size:2em !important;font-family:"nimbus-sans" !important;font-weight:800;letter-spacing:-1px;}
aside .flux4Widget .follow .siteFollowView .expandableMenu .sm4IconFacebook:before, #main .flux4Widget .follow .siteFollowView .expandableMenu .sm4IconFacebook:before{color:#fafafa;border-radius:50%;background-color:#3b5a97;padding:8px;}
aside .flux4Widget .follow .siteFollowView .expandableMenu .sm4IconTwitter, #main .flux4Widget .follow .siteFollowView .expandableMenu .sm4IconTwitter{margin:0px 3px 0 3px;}
aside .flux4Widget .follow .siteFollowView .expandableMenu .sm4IconTwitter:before, #main .flux4Widget .follow .siteFollowView .expandableMenu .sm4IconTwitter:before{border-radius:50%;padding:8px;background-color:#00acec;color:#fafafa;}
.sub-footer .sm4FollowWidget{margin-left:10px;top:10px;padding-right:10px;}
body.home #main .sm4FollowWidget, body.archive #main .sm4FollowWidget{display:table;}
aside .sm4FollowWidget, #main .sm4FollowWidget{background-color:#fafafa;padding:10px 10px 13px 10px;border-bottom:1px solid rgba(0, 0, 0, 0.25);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-shadow:inset 0 2px rgba(255, 255, 255, 0.15);border-left:1px solid #e6e6e6;border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;max-width:300px;text-align:center;margin:15px auto 0;}
aside .sm4FollowWidget:hover, #main .sm4FollowWidget:hover{background-color:#eeeeee;}
aside .sm4FollowWidget .follow .siteFollowView .expandableMenu .followedObject, #main .sm4FollowWidget .follow .siteFollowView .expandableMenu .followedObject{padding:0;}
aside .sm4FollowWidget .serviceList li, #main .sm4FollowWidget .serviceList li{width:280px;padding-top:2px;}
.flux4Widget .follow .siteFollowView .expandableMenu .followServices .serviceList > li{border-top:none;}
.sm4FollowWidget .sm4IconEnvelope{display:none;}
.sm4FollowWidget .flux4 .buttonWithCounter a.button{width:60px;}
.flux4Widget .share .responsive.pinned{z-index:1;}
.flux4Widget.sm4ShareWidget{padding:0 0 10px 0;}
.flux4Widget.sm4ShareWidget .share .actionItem{background:none;background-color:#eee;}
.flux4Widget.sm4ShareWidget .share .actionCount:before, .flux4Widget.sm4ShareWidget .share .actionCount:after{content:'';}
.flux4Widget.sm4ShareWidget .share .actionItem{border:1px solid rgba(255, 255, 255, 0) !important;border-radius:3px 3px 3px 3px;box-shadow:0 1px rgba(255, 255, 255, 0.35) inset;}
.flux4Widget.sm4ShareWidget .share .actionItem .sm4IconTwitter{left:0px;}
.flux4Widget.sm4ShareWidget .share .actionItem.facebook{padding:6px 6px;background:none;background-color:#3B5998;}
.flux4Widget.sm4ShareWidget .share .actionItem.twitter{padding:6px 6px;background:none;background-color:#00ACED;}
.flux4Widget.sm4ShareWidget .share .actionItem.more, .flux4Widget.sm4ShareWidget .share .actionItem.comments{padding:6px 6px;background:none;background-color:#1a1a1a;}
.flux4Widget.sm4ShareWidget .share .actionItem.more .actionIcon:before, .flux4Widget.sm4ShareWidget .share .actionItem.more .actionCount, .flux4Widget.sm4ShareWidget .share .actionItem.comments .actionIcon:before, .flux4Widget.sm4ShareWidget .share .actionItem.comments .actionCount{color:#fafafa;}
.flux4Widget.sm4ShareWidget .share ul.shareActions > li.hoverItem .actionItem.facebook{background:none;background-color:#324c82;}
.flux4Widget.sm4ShareWidget .share ul.shareActions > li.hoverItem .actionItem.twitter{background:none;background-color:#0096ce;}
.flux4Widget.sm4ShareWidget .share ul.shareActions > li.hoverItem .actionItem.more, .flux4Widget.sm4ShareWidget .share ul.shareActions > li.hoverItem .actionItem.comments{background:none;background-color:#333;}
#commentsContainer{padding:20px 10px 0 10px;}
.sm4CommentsWidget .comments{border:none;padding:0;border-top:5px solid #1a1a1a;}
.sm4CommentsWidget .comments .thereIsNothing{margin:20px 0 0px 0;}
.sm4CommentsWidget .comments .secondaryButton{text-transform:lowercase;border:1px solid rgba(255, 255, 255, 0);border-radius:3px 3px 3px 3px;box-shadow:0 1px rgba(255, 255, 255, 0.35) inset;cursor:pointer;display:inline-block;font-weight:900;text-align:center;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.05);text-transform:lowercase;vertical-align:middle;background:none;background-color:#1a1a1a;color:#fafafa;}
.sm4CommentsWidget .comments .secondaryButton:hover{background-color:#333;}
.sm4CommentsWidget .comments .sorterContainer.dropdownMode .dropDownContainer{color:#000;font-weight:bold;font-size:18px;text-transform:lowercase;background:#fafafa;border:none;}
.sm4CommentsWidget .comments .sorterContainer.dropdownMode .dropDownContainer:hover{background:#fafafa;border:1px solid #ccc;}
.sm4CommentsWidget .comments .sorterContainer.dropdownMode .dropDownContainer a{font-size:18px;}
.sm4CommentsWidget .comments .sorterContainer.dropdownMode .dropdownPointerDown{border-left:none;}
.sm4CommentsWidget .comments .sorterContainer.dropdownMode:after{color:#777777;background-color:#fafafa;}
.sm4CommentsWidget .comments .mainHeader{border:none;padding:0px;background:none;}
.sm4CommentsWidget .comments h2{font-family: 'Open Sans', sans-serif;letter-spacing:-1px;}
.sm4CommentsWidget .comments .details *{font-size:17px;}
.sm4CommentsWidget .comments .timestamp{font-size:12px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.footer{clear:both;padding:20px 0;background-color:#f2f2f2;border-top:5px solid #e6e6e6;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;}
.footer .container{min-width:300px;max-width:1180px;padding:0 10px;margin:0 auto;}
.footer .container:before, .footer .container:after{content:"";display:table;line-height:0;}
.footer .container:after{clear:both;}
.footer .container .text-center{text-align:center;}
.footer .container .text-center small{font-size:85%;}
.footer .container .text-center .muted{color:#777777;}
.footer .container .row{width:100%;*zoom:1;}
.footer .container .row:before, .footer .container .row:after{display:table;content:"";line-height:0;}
.footer .container .row:after{clear:both;}
.footer .container .row ul, .footer .container .row ol{margin:0;}
.footer .container .row .viacom-footer{display:inline-block;}
.footer .container .row .icon-logo-viacom{margin-top:14px;float:left;font-size:70px;line-height:20px;}
.footer .container .row [class*="span"]{display:block;min-height:10px;margin-bottom:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2.127659574468085%;*margin-left:2.074468085106383%;}
.footer .container .row [class*="span"]:first-child, .footer .container .row [class*="span"] .footer .container .row [class*="span"]:first-child{margin-left:0;}
.footer .container .row [class*="span"] ul.inline, .footer .container .row [class*="span"] ol.inline{margin-left:0;list-style:none;}
.footer .container .row [class*="span"] ul.inline > li, .footer .container .row [class*="span"] ol.inline > li{margin-top:0;display:inline-block;padding-left:5px;padding-right:5px;}
.footer .container .row #social{padding:15px 0 10px;margin-top:10px;margin-bottom:10px;border-top:1px solid #aaa;border-bottom:1px solid #aaa;}
.footer .container .row #social > *{display:inline-block;}
.footer .container .row #social .btn{display:inline-block;*display:inline;*zoom:1;font-weight:900;text-align:center;vertical-align:middle;cursor:pointer;background-color:#e6e6e6;color:#1a1a1a;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.05);text-transform:lowercase;border:1px solid #1a1a1a;box-shadow:inset 0 1px rgba(255, 255, 255, 0.35);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*margin-left:.3em;}
.footer .container .row #social .btn > span{padding:5px 10px 6px;display:block;-webkit-transition-duration:0.2s;-moz-transition-duration:0.2s;transition-duration:0.2s;}
.footer .container .row #social .btn:hover > span, .footer .container .row #social .btn:active > span, .footer .container .row #social .btn.active > span{background:rgba(0, 0, 0, 0.15);}
.footer .container .row #social .btn:first-child{*margin-left:0;}
.footer .container .row #social .btn:focus{outline:none;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.footer .container .row #social .btn-social, .footer .container .row #social .btn-social:hover{color:#fff;margin-bottom:5px;}
.footer .container .row #social .btn-social > span{display:table-cell;vertical-align:middle;height:45px;width:45px;text-align:center;padding:0;}
.footer .container .row #social .btn-social [class*="icon-"]{margin:0;font-size:18px;}
.footer .container .row #social .btn-social .btn-facebook{background-color:#3B5998;font-size:20px;}
.footer .container .row #social .btn-social .btn-twitter{background-color:#00aced;}
.footer .container .row #social .btn-social .btn-tumblr{background-color:#2C4762;}
.footer .container .row #social .btn-inverse{color:#000;background-color:rgba(255, 255, 255, 0.75);border:1px solid rgba(0, 0, 0, 0.1);}
.footer .container .row #social .btn-inverse:hover > span, .footer .container .row #social .btn-inverse:active > span{color:#000;background-color:rgba(0, 0, 0, 0.02);}
.footer .container .row .offset1:first-child{margin-left:8.547008547008547%;}
.footer .container .row .span10{width:82.90598290598291%;}
.poweredby{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:1.2rem;color:#aaa;text-transform:lowercase;font-weight:normal;display:block;}
.zerglayoutcl{min-height:310px;}
.zergentity{display:inline-table;width:100%;padding-right:20px;position:relative;}
.zergentity img{width:100%;}
.zergentity > a{position:relative;padding-right:10px;width:40%;display:block;max-height:200px;overflow:hidden;float:left;}
.zergheadline{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;font-weight:800;letter-spacing:-1px;font-size:1.7rem;line-height:2.0rem;}
.zergsitename{font-size:1.2rem;color:#aaa;text-transform:lowercase;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:normal;letter-spacing:normal;}
body.home article.tag-sponsored{background-color:#f2f2f2;}
body.home article.tag-sponsored .category{display:none;}
.mtv_action_box{background-color:#EAEAEA;color:#3B3B3B;margin:1em 0;}
.mtv_action_box .mtv_action_head{position:relative;background-color:#777777;}
.mtv_action_box h2{padding:0.5em 0.75em;margin:0;color:#FFFFFF;font-size:1.5em;line-height:2.0rem;}
.mtv_action_box .mtv_content_wrapper{margin:1em;}
.mtv_action_box img.mtv_image{float:left;height:auto;margin:0 0.85em 0 0;}
.mtv_action_box h3{color:#000000;margin:0;font-size:1.25em;}
.mtv_action_box p{font-size:0.9em;margin:0.25em 0;line-height:1.2em;}
.mtv_action_box .mtv_button_box{margin:1em;}
.mtv_action_box .mtv_center{text-align:center;margin:0 auto;}
.mtv_action_box .mtv_center a.btn-primary{color:#fafafa !important;background-color:#1a1a1a;}
.mtv_action_box .mtv_center .icon-chevron-right{position:relative;font-size:14px;left:5px;top:1px;font-weight:bold;}
.mtv_action_box .mtv_clicks{border-left:2px solid #F39999;margin:0 0 0 0.5em;padding:0 0 0 0.5em;font-weight:normal;}
@media only screen and (min-width:481px){.mtv_action_box{height:100%;min-height:100%;position:relative;display:table;}
.mtv_action_box .mtv_action_head{display:table-cell;vertical-align:middle;text-align:center;width:19%;height:100%;}
.mtv_action_box .mtv_action_content{display:table-cell;margin:1em;}
.mtv_action_box .mtv_content_wrapper{padding-right:1em;border-right:1px dotted #000000;}
.mtv_action_box .mtv_button_box{display:table-cell;vertical-align:middle;width:25%;height:100%;margin:1em 0;}
}
.postcard-left, .postcard-left-wrap, .postcard-right, .postcard-right-wrap{clear:both;margin-bottom:15px;}
.postcard-left > div, .postcard-right > div{display:table-cell;}
.postcard-left-wrap > div:first-child, .postcard-left > div:first-child{float:left;margin-right:10px;}
.postcard-right-wrap > div:first-child, .postcard-right > div:first-child{float:right;margin-left:15px;}
[class*="postcard-"] [class*="span"]{margin:0;}
.grid-view .span2:nth-child(5n+1){margin-left:0;}
.grid-view .span3:nth-child(4n+1){margin-left:0;}
.grid-view .span4:nth-child(3n+1){margin-left:0;}
.item, .item-wrap{position:relative;}
.item .media{margin-bottom:0;min-width:70px;background-color:#e6e6e6;width:100%;}
.item .header span{font-weight:700;}
.item .sub-header span{font-weight:normal;}
.item.item-small{line-height:18px;font-size:14px;margin-bottom:20px;}
.photo-block .media{display:table;width:100%;background-color:transparent;}
.photo-block .media > div{width:27%;display:table-cell;float:right;background-color:red;}
.photo-block .media > div:first-child{width:72%;float:left;margin-right:1%;}
.photo-block .media > div:last-child{margin-top:1%;}
.photo-block .container4x3:before{padding-top:76.25%;}
.photo-block .container1x1 .content img{height:102%;}
.article-block[class*="postcard-"] .media{width:100%;}
.item .header{display:inline-block;position:absolute;bottom:0px;top:auto;}
.item .header > span{display:block;font-weight:900;padding:10px 10px 2px 0;background-color:#fafafa;}
.container1x1:before{padding-top:100%;}
.container4x3:before{padding-top:75%;}
.container16x9:before{padding-top:56.5%;}
.container1x1:before, .container16x9:before, .container4x3:before{content:"";display:block;}
.container1x1, .container16x9, .container4x3{position:relative;width:100%;overflow:hidden;}
[class*="container"] .content{left:0;position:absolute;right:0;text-align:center;top:0;bottom:0;}
.container16x9 .content img{width:100%;height:auto;}
.container16x9 .content{bottom:inherit;}
.btn{background-color:#E6E6E6;border:1px solid rgba(255, 255, 255, 0);border-radius:3px 3px 3px 3px;box-shadow:0 1px rgba(255, 255, 255, 0.35) inset;cursor:pointer;display:inline-block;font-weight:900;text-align:center;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.05);text-transform:lowercase;vertical-align:middle;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.btn > span{display:block;padding:5px 10px 6px;transition-duration:0.2s;}
.btn:hover > span, .btn:active > span, .btn.active > span{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.15);}
.btn:focus{outline:medium none;outline-offset:-2px;}
.btn.active, .btn:active{background-image:none;box-shadow:0 0 2px #CCCCCC;outline:0 none;}
.btn.disabled, .btn[disabled]{background-image:none;box-shadow:none;cursor:default;opacity:0.65;}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"]{width:100%;}
.btn-primary{background-color:#00BBEF;border-color:rgba(0, 0, 0, 0);color:#FFFFFF;}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{color:#FFFFFF;}
.btn-primary.active{color:rgba(255, 255, 255, 0.75);}
.btn-secondary{background-color:#000000;color:#FFFFFF;}
.btn-secondary:hover > span, .btn-secondary:active > span, .btn-secondary.active > span{background-color:rgba(255, 255, 255, 0.2);color:#FFFFFF;}
.btn-inactive{color:rgba(0, 0, 0, 0.35);}
.btn-inactive:hover > span, .btn-inactive:active > span, .btn-inactive.active > span{background:none repeat scroll 0 0 rgba(0, 0, 0, 0);color:rgba(0, 0, 0, 0.35);}
.btn-social, .btn-social:hover{color:#FFFFFF;margin-bottom:5px;}
.btn-social > span{display:table-cell;height:45px;padding:0;text-align:center;vertical-align:middle;width:45px;}
.btn.btn-social [class*="icon-"]{font-size:18px;margin:0;}
.btn-social.btn-facebook{background-color:#3B5998;font-size:20px;}
.btn-social.btn-twitter{background-color:#00ACED;}
.btn-social.btn-tumblr{background-color:#2C4762;}
.btn-inverse{background-color:rgba(255, 255, 255, 0.75);border:1px solid rgba(0, 0, 0, 0.1);color:#000000;}
.btn-inverse:hover > span, .btn-inverse:active > span, .btn-inverse.active > span{background-color:rgba(0, 0, 0, 0.02);color:#000000;}
.btn-cta{cursor:pointer;display:inline-block;font-size:17px;font-weight:900;padding:5px 10px 6px;text-align:center;vertical-align:middle;}
.btn-cta [class*="icon-"], .btn [class*="icon-"]{margin:0 0 0 3px;}
.btn-cta:hover, .btn-cta:active{background-color:#000000;}
.btn[class*="span"]{margin-bottom:10px;}
.btn-large > span{font-size:150%;padding:10px 15px 12px;}
.btn-large [class*="icon-"]{margin-left:5px;}
.btn-small > span{border-radius:2px 2px 2px 2px;font-size:85%;padding:3px 8px 4px;}
.btn.span12 + .btn.span12{margin-top:5px;}
.picker__box{padding:0 1em;}
.picker__header{text-align:center;position:relative;margin-top:.75em;}
.picker__month, .picker__year{font-weight:500;display:inline-block;margin-left:.25em;margin-right:.25em;}
.picker__year{color:#999;font-size:.8em;font-style:italic;}
.picker__select--month, .picker__select--year{border:1px solid #b7b7b7;height:2em;padding:.5em;margin-left:.25em;margin-right:.25em;}
@media (min-width:24.5em){.picker__select--month, .picker__select--year{margin-top:-.5em;}
}
.picker__select--month{width:35%;}
.picker__select--year{width:22.5%;}
.picker__select--month:focus, .picker__select--year:focus{border-color:#0089ec;}
.picker__nav--next, .picker__nav--prev{position:absolute;padding:.5em 1.25em;width:1em;height:1em;top:-.25em;}
@media (min-width:24.5em){.picker__nav--next, .picker__nav--prev{top:-.33em;}
}
.picker__nav--prev{left:-1em;padding-right:1.25em;}
@media (min-width:24.5em){.picker__nav--prev{padding-right:1.5em;}
}
.picker__nav--next{right:-1em;padding-left:1.25em;}
@media (min-width:24.5em){.picker__nav--next{padding-left:1.5em;}
}
.picker__nav--next:before, .picker__nav--prev:before{content:" ";border-top:.5em solid transparent;border-bottom:.5em solid transparent;border-right:.75em solid #000;width:0;height:0;display:block;margin:0 auto;}
.picker__nav--next:before{border-right:0;border-left:.75em solid #000;}
.picker__nav--next:hover, .picker__nav--prev:hover{cursor:pointer;color:#000;background:#b1dcfb;}
.picker__nav--disabled, .picker__nav--disabled:before, .picker__nav--disabled:before:hover, .picker__nav--disabled:hover{cursor:default;background:0 0;border-right-color:#f5f5f5;border-left-color:#f5f5f5;}
.picker__table{text-align:center;border-collapse:collapse;border-spacing:0;table-layout:fixed;font-size:inherit;width:100%;margin-top:.75em;margin-bottom:.5em;}
@media (min-height:33.875em){.picker__table{margin-bottom:.75em;}
}
.picker__table td{margin:0;padding:0;}
.picker__weekday{width:14.285714286%;font-size:.75em;padding-bottom:.25em;color:#999;font-weight:500;}
@media (min-height:33.875em){.picker__weekday{padding-bottom:.5em;}
}
.picker__day{padding:.3125em 0;font-weight:200;border:1px solid transparent;}
.picker__day--today{color:#0089ec;position:relative;}
.picker__day--today:before{content:" ";position:absolute;top:2px;right:2px;width:0;height:0;border-top:.5em solid #0059bc;border-left:.5em solid transparent;}
.picker__day--selected, .picker__day--selected:hover{border-color:#0089ec;}
.picker__day--highlighted{background:#b1dcfb;}
.picker__day--disabled:before{border-top-color:#aaa;}
.picker__day--outfocus{color:#ddd;}
.picker__day--infocus:hover, .picker__day--outfocus:hover{cursor:pointer;color:#000;background:#b1dcfb;}
.picker--focused .picker__day--highlighted, .picker__day--highlighted:hover{background:#0089ec;color:#fff;}
.picker__day--disabled, .picker__day--disabled:hover{background:#f5f5f5;border-color:#f5f5f5;color:#ddd;cursor:default;}
.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover{background:#bbb;}
.picker__footer{text-align:center;}
.picker__button--clear, .picker__button--today{border:1px solid #fff;background:#fff;font-size:.8em;padding:.66em 0;font-weight:700;width:50%;display:inline-block;vertical-align:bottom;}
.picker__button--clear:hover, .picker__button--today:hover{cursor:pointer;color:#000;background:#b1dcfb;border-bottom-color:#b1dcfb;}
.picker__button--clear:focus, .picker__button--today:focus{background:#b1dcfb;border-color:#0089ec;outline:0;}
.picker__button--clear:before, .picker__button--today:before{position:relative;display:inline-block;height:0;}
.picker__button--today:before{content:" ";margin-right:.45em;top:-.05em;width:0;border-top:.66em solid #0059bc;border-left:.66em solid transparent;}
.picker__button--clear:before{content:"\D7";margin-right:.35em;top:-.1em;color:#e20;vertical-align:top;font-size:1.1em;}
.picker{font-size:16px;text-align:left;line-height:1.2;color:#000;position:absolute;z-index:10000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.picker__input{cursor:default;}
.picker__input.picker__input--active{border-color:#0089ec;}
.picker__holder{width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.picker{width:100%;}
.picker__holder{position:absolute;background:#fff;border:1px solid #aaa;border-top-width:0;border-bottom-width:0;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:176px;max-width:466px;max-height:0;-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;opacity:0;-webkit-transform:translateY(-1em) perspective(600px) rotateX(10deg);-moz-transform:translateY(-1em) perspective(600px) rotateX(10deg);transform:translateY(-1em) perspective(600px) rotateX(10deg);-webkit-transition:-webkit-transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s;-moz-transition:-moz-transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s;transition:transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s;}
.picker__frame{padding:1px;}
.picker__wrap{margin:-1px;}
.picker--opened .picker__holder{max-height:25em;-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;opacity:1;border-top-width:1px;border-bottom-width:1px;-webkit-transform:translateY(0) perspective(600px) rotateX(0);-moz-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);-webkit-transition:-webkit-transform .15s ease-out,opacity .15s ease-out,max-height 0s,border-width 0s;-moz-transition:-moz-transform .15s ease-out,opacity .15s ease-out,max-height 0s,border-width 0s;transition:transform .15s ease-out,opacity .15s ease-out,max-height 0s,border-width 0s;-webkit-box-shadow:0 6px 18px 1px rgba(0, 0, 0, 0.12);-moz-box-shadow:0 6px 18px 1px rgba(0, 0, 0, 0.12);box-shadow:0 6px 18px 1px rgba(0, 0, 0, 0.12);}
aside.sidebar li.widget{list-style-type:none;}
html{font-size:62.5%;}
body{background-color:#fafafa;}
html.svg .png-fallback{display:none;}
html.no-svg .svg-image{display:none;}
div.category{position:relative;font-weight:bold;text-transform:lowercase;white-space:nowrap;font-size:1.4rem;color:#fafafa;}
div.category a:link, div.category a:visited{color:#fafafa;padding:2px 5px;background-color:#00bbef;}
div.category a:hover{background-color:#007fa3;}
div.category.sponsored{display:table;}
div.category.sponsored a{color:#fafafa;padding:2px 5px;background-color:#b349f7;}
div.category.sponsored a:hover{color:#fafafa;}
img{max-width:100%;}
#page_root{position:relative;}
body.home, body.archive{font-family: 'Open Sans', sans-serif;}
#content{position:relative;}
.ad_tile, .vmn_coda_ad-tile{margin:10px auto;max-width:300px;}
.ad_tile.vmn_coda_ajax_ad, .vmn_coda_ad-tile.vmn_coda_ajax_ad{margin-bottom:20px;}
.vmn_coda_ajax_ad{text-align:center;margin-bottom:20px;}
.date{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:1.2rem;color:#aaa;display:block;padding-top:5px;}
.video-container{position:relative;margin:auto;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.video-container iframe, .video-container object, .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
.square-container{margin:auto;padding-bottom:120%;position:relative;padding-top:30px;height:0;overflow:hidden;}
.square-container iframe, .square-container object, .square-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
body.single .player_container{margin:1.5em auto;}
body.single-format-video .player_container{margin:0 auto;top:-3px;}
.player_container{overflow:hidden;width:100% !important;height:auto;}
.player_container iframe{width:100%;}
.player_container object{height:100%;}
.player_container .light_player .play_overlay_icon{background:url("https://www.mtv.com/news/wp-content/themes/news-2014/library/images/play_btn.svg") no-repeat;cursor:pointer;height:39px;width:54px;opacity:0.8;}
.player_container .light_player .play_overlay_icon:hover{fill:#00bbef;}
.player_container .light_player img{height:auto;width:100%;}
.player_container .light_player object, .player_container .light_player embed{height:100%;}
body.single-format-video .player_container{background-color:#1a1a1a;top:-3px;position:relative;}
a, a:visited{text-decoration:none;color:#1a1a1a;}
a:hover, a:focus, a:visited:hover, a:visited:focus{color:#00bbef;}
a:link, a:visited:link{-webkit-tap-highlight-color:rgba(0, 0, 0, 0.3);}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{font-family:'Roboto', sans-serif;text-rendering:optimizelegibility;font-weight:500;}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a{text-decoration:none;}
h1, .h1{font-weight:900;line-height:4.6rem;font-size:4.6rem;margin:0;}
h2, .h2{font-size:2rem;font-weight:700;line-height:2.4rem;margin-bottom:0.375rem;padding:5px 5px 5px 0px;margin:0;}
h3, .h3{font-weight:800;letter-spacing:-1px;font-size:2.0rem;line-height:2.0rem;margin:0;}
h4, .h4{font-size:1.1rem;font-weight:700;}
h5, .h5{font-size:0.846rem;line-height:0.846rem;text-transform:uppercase;letter-spacing:2px;}
span.sitename{text-transform:lowercase;}
span.icon-logo-mtv{display:block;font-size:40px;}
.pull-left{float:left;}
.pull-right{float:right;}
.vmn_coda_ad-banner{text-align:center;}
#nav-close{margin-left:5px;}
.navbar #ad-container{padding:5px 0;border-bottom:solid 1px #333;position:relative;z-index:5001;}
.navbar .ad-banner{width:300px;margin:auto;min-height:50px;}
.navbar span.icon-logo-mtv{padding:1px 10px 0 10px;color:#fafafa;float:left;}
.navbar #navbar-inner{position:relative;z-index:5001;background:#FFFFFF;}
.navbar #navbar-inner .container{max-width:1200px;height:48px;position:relative;}
.navbar #navbar-inner .container .sitename{font-size:3.2rem;color:#fafafa;font-weight:bold;white-space:nowrap;line-height:1.5;}
.item-md.postcard-left{margin-bottom:0;}
.item.item-small{margin-bottom:0;}
.col-sm-6, .col-sm-12{padding:0 10px;}
.trending-block[class*="postcard-"] .media{width:33%;}
.item .media{background-color:transparent;}
.icon-arrow-dropdown{position:relative;top:10px;right:15px;}
.item .header{position:relative;top:-17px;}
.item.item-sm h3{font-size:1.5rem;line-height:1.7rem;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
#main > .row > div.post:first-child .media img{border-top:5px solid #00B1DD;}
body.home article:last-child{border-bottom:none;}
body.home article .item-small .section-header{position:relative;top:-18px;}
body.home article .postcard-left .category{clear:both;}
body.home article .item .category{top:-2px;}
body.home article .item-sm .category{top:-2px;}
body.home aside article .item .category{top:2px;}
body.home article.mtv_advertorial_post .category.sponsored a, article.mtv_advertorial_post div.story .category.sponsored a, article.mtv_advertorial_post article.mtv_advertorial_post .category.sponsored a{background-color:#b349f7;}
body.home article.mtv_advertorial_post .category.sponsored a:hover, article.mtv_advertorial_post div.story .category.sponsored a:hover, article.mtv_advertorial_post article.mtv_advertorial_post .category.sponsored a:hover{color:#fafafa;}
body.home div.ad_tile, body.archive div.ad_tile{padding-top:10px;}
body.home #main .sub-header{padding-top:5px;}
body.category #main > .row > .post-1 .postcard-left > div, body.category #main > .row > .post-1 .postcard-right > div{display:block;}
body.category #main > .row > .post-1 .media{width:100%;}
body.category #main > .row > .post-1 h3{font-size:2.3rem;line-height:2.6rem;}
body.category #main > .row > .post-1 h3 a{top:5px;position:relative;}
body.archive nav.wp-prev-next li.archives{display:none;}
body.archive .icon-arrow-dropdown{color:#1a1a1a;}
body.archive div.category{display:none;}
body.archive div.category.sponsored{display:table;top:-2px;}
body.archive div.category.sponsored a{background-color:#b349f7;}
body.archive div.category.sponsored a:hover{color:#fafafa;}
body.archive .item .header{top:0;}
body.archive .item .header h3{line-height:2.0rem;font-size:1.7rem;}
body.archive .item .header span{padding:0 5px 5px 0;}
body.archive .item .header span .date{padding-top:5px;}
body.archive .article-block[class*="postcard-"] .media{width:30%;}
body.archive article.summary .entry-content{padding:0px 0px 10px 0px;}
div[class*='mtvn-ajax-placeholder'] .category_sticky_post{display:none;}
h1.archive-title{text-transform:lowercase;color:#00B1DD;margin:0 10px 20px 10px;padding:5px 0;border-bottom:5px solid #1a1a1a;font-size:2.7em;letter-spacing:-1px;}
body.archive input.datepicker{display:none;}
body.archive a.archivedate{cursor:pointer;}
body.page .header h2{font-size:3.2rem;padding:15px 0 15px 0;letter-spacing:-1px;border-bottom:5px #1a1a1a solid;color:#00B1DD;font-weight:800;}
body.page div.story{max-width:800px;padding-left:30px;}
body.page section{padding-top:20px;}
.lead-image{top:-3px;}
.lead-image .container-lead-image{padding-top:52.5%;}
.lead-image .container-lead-image img{width:100%;height:auto;}
.lead-image .container-lead-image .content{overflow:hidden;}
.lead-image .photocredit{top:-15px;}
.photocredit{position:relative;float:right;color:#777777;padding-right:10px;font-size:1.1rem;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.single section.entry-content a, .single section.entry-content a:visited{color:#00B1DD;}
.single section.entry-content a:hover{color:#00bbef;}
.single article.post div.story section.entry-content{background-color:#fafafa;}
.single article.post div.story section.entry-content iframe{margin:auto !important;max-width:100%;}
.single article.post div.story section.entry-content .CodaAdWidget iframe{height:250px;}
.single article.post div.story section.entry-content .photo{position:relative;}
.single article.post div.story section.entry-content .photo .photocredit{bottom:2px;background-color:#fafafa;padding:0 5px;position:absolute;right:0;}
.single article.no_lead_image div.story .category{top:-24px;left:-10px;position:relative;}
.single article.no_lead_image .small_lead_image{position:relative;top:-3px;margin-left:-10px;margin-right:-10px;}
.single article.no_lead_image .small_lead_image img{width:100%;}
.single article.no_lead_image .small_lead_image .photocredit{top:35px;right:0;position:absolute;}
.single article.no_lead_image .header .headline{background-color:#fafafa;}
.single article.no_lead_image div.story{margin-top:0;}
.single article.no_lead_image #commentsContainer{padding:20px 10px 0 0;}
body.single .header{background-color:#fafafa;}
body.single .header span.headline{top:-6px;position:relative;}
body.single .header span.headline h1{letter-spacing:-1px;font-family: 'Roboto', sans-serif;}
body.single .byline .date{padding-left:10px;display:inline;font-size:1.4rem;}
body.single div.story .category{top:-23px;left:-10px;}
body.single .entry-content{padding:0;}
body.single .entry-content div.photo{padding-bottom:20px;}
body.single .mtv_advertorial_post .byline.sponsored{font-weight:800;font-size:1.7rem;font-family: 'Open Sans', sans-serif;color:#777777;}
body.single .mtv_advertorial_post .byline.sponsored .date{font-weight:normal;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
body.single-interactive .header{padding-top:12px;background:none;}
img.js-srcset-img{width:100%;height:auto;}
.single div.story section, .page div.story section{font-family: 'Open Sans', sans-serif;font-size:2.0rem;line-height:2.5rem;}
.single p:first-child, .page p:first-child{margin-top:0;}
.single div.story section > p{margin-top:0;}
.single div.story section .hr{border-top:5px solid #1a1a1a;}
.single div.story section .byline{position:relative;top:-16px;background-color:#fafafa;padding-right:15px;font-size:1.4rem;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.single div.story section .byline a:link, .single div.story section .byline a:visited{font-family: 'Open Sans', sans-serif;font-weight:800;font-size:1.7rem;color:#1a1a1a !important;}
.single div.story section .byline a:hover{color:#00bbef !important;}
.single div.story section .byline .author{font-weight:800;font-size:1.7rem;font-family: 'Open Sans', sans-serif;}
.subhead{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:1.7rem;font-weight:normal;line-height:2.0rem;margin:0;padding:10px 0 0 0;}
.subhead p{margin:1rem 0 1.5rem 0;}
div.author{min-height:120px;font-weight:bold;font-family: 'Open Sans', sans-serif;letter-spacing:-1px;padding-top:15px;border-top:1px dotted #1a1a1a;font-size:1.7rem;}
div.author a:link, div.author a:visited{color:#1a1a1a;}
div.author .description{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#777;font-weight:normal;}
div.author .oval{width:25px;height:25px;}
div.author .oval .icon{color:#ffffff;font-size:16px;width:16px;margin-top:-1px;}
.icon-twitter:before{content:"\e61b";}
.twitter{background:#00bbef;}
.oval{-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;box-shadow:none;border:none;width:30px;height:30px;border-radius:30px/30px;top:0px;right:0px;text-align:center;margin-right:5px;float:left;}
.circle_crop{width:80px;height:80px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;float:left;margin-right:10px;margin-bottom:50px;}
big{font-size:2.4rem;line-height:2.2rem;margin-bottom:6px;display:inline-block;font-family: 'Open Sans', sans-serif;}
.single-format-video .story, .single-format-video aside{-webkit-transition:margin 0.5s ease-out;}
.VMNRelatedContent{width:100%;}
footer.article-footer{font-size:2.7em;font-family: 'Open Sans', sans-serif;background-color:#f2f2f2;border-top:5px solid #e6e6e6;padding:15px 0;}
footer.article-footer .tags{line-height:3.0rem;padding-bottom:10px;text-transform:lowercase;display:block;}
footer.article-footer .tags a{padding-right:10px;}
footer.article-footer .tags, footer.article-footer .header{font-weight:800;color:#00B1DD;padding-left:0 !important;}
footer.article-footer .tags a:link, footer.article-footer .tags a:visited, footer.article-footer .header a:link, footer.article-footer .header a:visited{color:#1a1a1a;}
footer.article-footer .tags a:hover, footer.article-footer .header a:hover{color:#00bbef;}
footer.article-footer h3{font-weight:800;letter-spacing:-1px;line-height:2.0rem;font-size:1.7rem;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
footer.article-footer .section{padding:0;}
footer.article-footer div.header{background-color:transparent;}
footer.article-footer .media{width:40%;float:left;padding-right:10px;}
footer.article-footer article{padding:0 20px 10px 0;}
footer.article-footer article div.header{padding:0;}
footer.article-footer section{padding-left:0;}
footer.article-footer .date{font-size:1.0rem;font-weight:normal;}
footer.article-footer p{margin:0;}
footer.article-footer .header span.headline{top:6px;}
footer.article-footer .latest-news{padding-top:10px;}
footer.article-footer .latest-news .sub-header{padding-top:4px;}
footer.article-footer .latest-news .date{background-color:transparent;color:#1a1a1a;display:inline;font-weight:normal;}
footer.article-footer .latest-news .vmn_coda_ad-tile{margin:0;min-height:315px;padding-left:0;}
footer.article-footer .latest-news .category{top:2px;}
footer.article-footer .latest-news .category a:link, footer.article-footer .latest-news .category a:visited{color:#fafafa;}
footer.article-footer .latest-news-holder-0 .date{background-color:yellow;padding:3px;}
footer.article-footer .container16x9:before{padding-top:100% !important;}
nav{font-size:1.7rem;}
.js .show-more{display:block;clear:both;text-align:center;font-size:1.7rem;max-width:300px;margin:auto;padding:5px 0px;}
.prev-link a:link, .prev-link a:active, .prev-link a:visited, .next-link a:link, .next-link a:active, .next-link a:visited{color:#fafafa;padding:5px 10px;width:300px;}
.wp-prev-next .btn:hover{background-color:#333;}
.show-more{display:none;}
.prev-link.noscript{float:left;}
.next-link.noscript{float:right;}
li{list-style-type:none;}
.widgettitle{letter-spacing:-1px;}
.MTVNAdvertorialsSponsoredPost .widgettitle{background-color:#fafafa;color:#777777;padding:11px 0px;}
.MTVNAdvertorialsSponsoredPost .sub-header a:link, .MTVNAdvertorialsSponsoredPost .sub-header a:visited, .MTVNAdvertorialsSponsoredPost .sub-header a{color:#777777;}
.sidebar{min-width:300px;}
.sidebar h2{margin:0px;}
.sidebar .widgettitle{border-bottom:5px solid #1a1a1a;}
.sidebar li{}
.sidebar li.MTVNCodaAdWidget{margin:auto;max-width:300px;display:block;padding:0 !important;margin:0 !important;}
h2.widgettitle{font-weight:800;font-size:2.3rem;padding:10px 12px;color:#1a1a1a;background-color:yellow;margin-bottom:15px;}
aside li{text-align:left;padding-top:10px;}
aside li article{padding-bottom:10px;}
aside li article .content{padding-right:10px;}
aside li article .container16x9{width:110px;height:110px;float:left;}
aside li .category{top:2px;left:0;padding-bottom:8px;}
.interstitial.data{padding-bottom:20px;}
.interstitial.data h2{letter-spacing:-1px;font-size:2.0rem;border-bottom:5px solid #1a1a1a;}
.interstitial.data .textwidget img.thumb{float:left;padding-right:15px;width:33.33333%;height:auto;}
.interstitial.data .textwidget .headline{font-weight:800;letter-spacing:-1px;font-size:2.7rem;line-height:2.7rem;}
.interstitial.data .textwidget .subhead{display:block;padding-top:0;}
.interstitial.data .category{display:none;}
.trending-list .trend-box{width:25px;height:25px;position:absolute;top:0;left:0;}
.trending-list p.trend-val{display:none;}
.trending-list span.headline, aside li span.headline{font-size:1.7rem;font-weight:800;line-height:1.7rem;letter-spacing:-1px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.interstitial .container16x9{width:33.33333%;float:left;}
.interstitial .container16x9 img{padding-right:10px;}
body.home #main .trending-list article{padding-bottom:10px;}
body.home #main .trending-list .meta-wrap{padding:0px 3px 10px 5px;}
.instagram img{height:auto;}
@media only screen and (min-width:481px){.square-container{padding-bottom:115%;}
}
@media only screen and (min-width:660px){.square-container{padding-bottom:685px;}
.square-container iframe{width:618px;}
.item-md.postcard-left{margin-bottom:15px;}
.item-md .header{margin-left:-137px;margin-top:100px;}
.item-md span.headline{padding:10px;border-bottom:6px solid #1a1a1a;}
.item-sm .header{margin-top:-50px;}
.item-sm .header h3{font-family: 'Open Sans', sans-serif;}
.item-lg .header{margin-top:-80px;}
.item-lg span.headline{min-height:100px;font-size:1.7rem;}
.item .header{position:relative;display:block;top:auto;}
.item.promo-block .header{max-width:85%;}
.single article.no_lead_image .small_lead_image{margin-top:-5%;margin-bottom:-15%;z-index:-1;top:5px;left:0;}
.single article.no_lead_image .header{width:85%;}
.single article.no_lead_image .header .headline{background-color:#fafafa;}
.single section{font-size:1.6rem;line-height:2.8rem;}
.single h1{line-height:4.5rem;font-size:5.0rem;}
.single .subhead{line-height:2.4rem;font-size:2.0rem;padding:10px 0 10px 0;}
big{font-size:2.7rem;}
.interstitial span.headline{font-family: 'Open Sans', sans-serif;font-size:1.7rem;line-height:1.7rem;}
.interstitial h2{display:table;font-size:2.3rem;}
.interstitial .container16x9{width:100%;float:none;}
.interstitial .container16x9 img{padding-right:0;}
.interstitial .textwidget a > img{width:auto;}
.interstitial h2.widgettitle{border-bottom:none;margin-bottom:0;}
.interstitial .trending-list .trend-box{position:absolute;top:100%;margin-top:-24px;}
body.home #main .trending-list .meta-wrap{padding:8px 3px 10px 5px;}
body.home #main .trending-list{padding:0;background-color:transparent;}
body.home #main .trending-list article{background-color:transparent;padding-bottom:0;}
aside span.headline{font-size:1.7rem;line-height:1.6rem;}
aside li article{padding-bottom:10px;}
aside li article .container16x9{width:118px;height:118px;}
.article-block[class*="postcard-"] .media{width:68%;}
.postcard-left > div, .postcard-right > div{display:table-cell;}
body.archive #main > .row > .post-1 .header h3{font-size:3.7rem;line-height:3.9rem;}
body.archive #main > .row > .post-1 .header .headline{padding:10px 10px 2px 0;}
body.archive article.summary .header h3{font-size:2.3rem;line-height:2.6rem;}
body.archive article.summary .entry-content{padding:0px 0px 30px 0px;}
div.col-xs-6 article.summary .entry-content{padding:0px 0px 15px 0px;}
article.summary .entry-content{padding:0px 0px 20px 0px;}
article.summary .entry-content h3{font-weight:800;letter-spacing:-1px;}
article.summary .entry-content .item-lg h3{font-size:3.7rem;line-height:3.7rem;}
article.summary .entry-content .item-md h3{font-size:2.7rem;line-height:2.7rem;}
article.summary .entry-content .item-sm h3{font-size:2.0rem;line-height:2.0rem;}
footer.article-footer h3{font-size:1.7rem;line-height:2.0rem;}
footer.article-footer .date{font-size:1.2rem;}
footer.article-footer .related-content .date{padding-top:5px;}
footer.article-footer .container16x9:before{padding-top:56.5% !important;}
footer.article-footer div.header{padding-bottom:5px !important;}
footer.article-footer .latest-news .meta-wrap div.header{top:-27px;position:relative;}
footer.article-footer .zergheadline{position:relative;display:inline-table;}
footer.article-footer .zergentity{float:left;width:33.33333333%;}
footer.article-footer .zergentity img{width:100%;margin-top:-50px;}
footer.article-footer .zergentity a{padding-right:0;width:100%;}
footer.article-footer .meta-wrap{max-height:300px;}
footer.article-footer .media{width:100%;clear:both;float:none;padding:0;}
footer.article-footer article{padding-bottom:0;min-height:300px;}
footer.article-footer .poweredby{display:inline;}
body.home article .item-md .category, body.home .post-1 article .category{top:-2px;}
body.single .lead-image{top:-40px;}
body.single .lead-image .container-lead-image{padding-top:56.5%;}
body.single .lead-image .photocredit{margin-top:-8%;}
body.single div.story{position:relative;margin-top:-16%;}
body.single div.story .category{top:-2px;left:0px;position:relative;}
body.single div.story section{padding:0 10px;}
body.single div.header{padding:15px 10px 10px 10px;}
body.single article.no_lead_image div.story .category{top:-2px;left:0;}
.player_container:hover .play_overlay_icon{opacity:0.9;}
.player_container .light_player .play_overlay_icon{transform:scale(1.5, 1.5);-webkit-transform:scale(1.5, 1.5);-ms-transform:scale(1.5, 1.5);}
}
@media only screen and (min-width:768px){.navbar .ad-banner{width:auto;display:table;min-height:90px;}
body.single .lead-image .photocredit{margin-top:-10%;}
#nav-close{margin-left:15px;}
body.home #main div.articles article, body.archive #main div.articles article{border-bottom:none;}
body.home #main div.articles article .thumb, body.archive #main div.articles article .thumb{float:none;}
.sub-footer .sm4FollowWidget{margin-left:10px;top:10px;position:relative;}
.widget_trending_stories.sticky{width:300px;}
.item-md .header.video_header{margin-left:0;margin-top:10px;}
.item-md .header.video_header span.headline{padding:10px 0;}
.item .header.video_header, .item-lg .header.video_header, .item-sm .header.video_header{position:relative;margin-top:22px;max-width:100%;}
.header{-webkit-transition:margin 0.3s ease-out,width 0.3s ease-out;-moz-transition:margin 0.3s ease-out,width 0.3s ease-out;-o-transition:margin 0.3s ease-out,width 0.3s ease-out;transition:margin 0.3s ease-out,width 0.3s ease-out;}
}
@media only screen and (min-width:980px){#content{margin:10px;padding-top:0;}
div.story{padding-right:20px;}
ul.widgets{margin-top:0;}
body.single article aside{margin-top:-40px;}
body.single article.no_lead_image aside{margin-top:0px;}
body.single-interactive #main .sm4FollowWidget{margin-top:0;}
.sidebar{min-height:900px;}
aside li{width:300px;margin:auto;}
aside .sm4FollowWidget .follow .siteFollowView .expandableMenu .followedObject{padding:0 0 8px 0;}
aside li.widget_trending_stories{border-top:none;padding:20px 0 0 0;position:static;background-color:transparent;-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;}
body.single h1{font-size:5.0rem;line-height:4.5rem;}
body.single .subhead{font-size:2.0rem;line-height:2.4rem;}
body.single .trend-box p.trend-val{top:0px;}
footer.article-footer .zergheadline{position:relative;font-family: 'Open Sans', sans-serif; !important;font-size:2.0rem;line-height:2.0rem;}
footer.article-footer .container{padding-left:60px;}
footer.article-footer h3{font-size:2.0rem;line-height:2.0rem;font-family: 'Open Sans', sans-serif;}
footer.article-footer .zergentity, footer.article-footer .latest-news article, footer.article-footer .vmn_coda_ad-tile{max-height:300px;}
.zergentity > a{clear:both;}
.interstitial h2{margin-left:-25px;}
body.home div.ad_tile, body.archive div.ad_tile{padding:0;}
body.home #main, body.archive #main{padding-right:0;}
body.single .lead-image .container-lead-image{padding-top:44.5%;}
body.single .lead-image .photocredit{top:-15px;margin-top:0;}
body.single article.no_lead_image .header, body.single article.no_lead_image section{padding-left:0;}
body.single article.no_lead_image .small_lead_image{margin-left:0;margin-right:0;}
body.single div.story section{font-size:1.6rem;line-height:2.8rem;}
body.single #main{padding-left:70px;}
body.single #content{margin:0;}
.ad_tile{margin:0 auto;max-width:300px;}
.sidebar{padding:0 0;}
body.single-format-video > #page_root > .player_container{top:-110px;}
body.single-format-video #content{top:-70px;position:relative;}
.mtvn_media_player_container{margin:auto;}
.sub-footer{display:inline-block;}
.sub-footer .sm4FollowWidget{display:inline-table;}
div.sm4ShareWidget{position:absolute;top:15px;margin-left:25px;}
.flux4Widget.sm4ShareWidget .share .actionItem.facebook{padding:10px 6px;}
.flux4Widget.sm4ShareWidget .share .actionItem.twitter{padding:10px 6px;}
body.category #main > .row > .post-1 .header h3{font-size:3.3rem;line-height:3.6rem;}
body.archive .item .header h3{line-height:2.3rem;font-size:2.0rem;}
body.archive #main .article-block[class*="postcard-"] .media{width:40%;}
}
@media only screen and (min-width:1200px){}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){}
@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;}
a, a:visited{color:#444 !important;text-decoration:underline;}
a:after, a:visited:after{content:" (" attr(href) ")";}
a abbr[title]:after, a:visited abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after{content:"";}
pre, blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr, img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p, h2, h3{orphans:3;widows:3;}
h2,
h3{page-break-after:avoid;}
.sidebar,
.page-navigation,
.wp-prev-next,
.respond-form,
nav{display:none;}
}